[submodule "plugin_submodules/nerdtree"]
	path = plugin_submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugin_submodules/commentary"]
	path = plugin_submodules/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "plugin_submodules/neocomplete"]
	path = plugin_submodules/neocomplete
	url = https://github.com/yinsyim/neocomplete.vim.git
[submodule "plugin_submodules/vim-colors-solarized"]
	path = plugin_submodules/vim-colors-solarized
	url = https://github.com/yinsyim/vim-colors-solarized.git
[submodule "plugin_submodules/peaksea"]
	path = plugin_submodules/peaksea
	url = https://github.com/vim-scripts/peaksea.git
