[submodule "plugin_submodules/nerdtree"]
	path = plugin_submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugin_submodules/commentary"]
	path = plugin_submodules/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "plugin_submodules/neocomplete"]
	path = plugin_submodules/neocomplete
	url = https://github.com/yinsyim/neocomplete.vim.git
[submodule "plugin_submodules/vim-colors-solarized"]
	path = plugin_submodules/vim-colors-solarized
	url = https://github.com/yinsyim/vim-colors-solarized.git
[submodule "plugin_submodules/peaksea"]
	path = plugin_submodules/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "plugin_submodules/goyo.vim"]
	path = plugin_submodules/goyo.vim
	url = https://github.com/yinsyim/goyo.vim.git
[submodule "plugin_submodules/seoul256.vim"]
	path = plugin_submodules/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "plugin_submodules/auto-pairs"]
	path = plugin_submodules/auto-pairs
	url = https://github.com/yinsyim/auto-pairs.git
[submodule "plugin_submodules/tagbar"]
	path = plugin_submodules/tagbar
	url = https://github.com/yinsyim/tagbar.git
[submodule "comfortable-motion.vim"]
	path = comfortable-motion.vim
	url = https://github.com/yinsyim/comfortable-motion.vim.git
[submodule "plugin_submodules/comfortable-motion.vim"]
	path = plugin_submodules/comfortable-motion.vim
	url = https://github.com/yinsyim/comfortable-motion.vim.git
